<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AudioJam</title>
    <link rel="stylesheet" href="../static/styles.css" />
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='AudioJam_logo.jpg') }}"
    />
  </head>
  <body>
    <div class="content">
      <h1>Welcome, {{ username }}!</h1>

      <!-- Billboard Hot 100 Section -->
      <h2>Billboard Hot 100</h2>
      <div class="grid-container top-charts">
        <div class="card">
          <ul>
            {% for song in top_chart_songs[:5] %}
            <li>
              <img src="{{ song.image }}" alt="{{ song.title }}" />
              <div>
                <strong>{{ song.rank }}. {{ song.title }}</strong>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="card">
          <ul>
            {% for song in top_chart_songs[5:10] %}
            <li>
              <img src="{{ song.image }}" alt="{{ song.title }}" />
              <div>
                <strong>{{ song.rank }}. {{ song.title }}</strong>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <!-- Form to select time range and save top tracks to Spotify -->
      <div class="form-container">
        <form
          action="{{ url_for('views.show_top_items') }}"
          method="POST"
          class="form-flex"
        >
          <label for="time_range">Select time range for top items:</label>
          <select name="time_range" id="time_range">
            <option value="short_term">Short Term (Last 4 weeks)</option>
            <option value="medium_term" selected>
              Medium Term (Last 6 months)
            </option>
            <option value="long_term">Long Term (Several years)</option>
          </select>
          <button type="submit">Show The Top Artists and Tracks</button>
        </form>

        <!-- Save Top Tracks to Spotify Playlist Button -->
        <form
          action="{{ url_for('views.show_top_items') }}"
          method="POST"
          class="form-flex"
        >
          <input type="hidden" name="playlist_type" value="top_tracks" />
          <button type="submit">Save Top Tracks to Spotify</button>
        </form>
      </div>

      <!-- Display success message if a playlist is created -->
      {% if success_message %}
      <div class="card">
        <p>{{ success_message }}</p>
      </div>
      {% endif %}

      <!-- User's Top Artists -->
      <div class="top-items">
        <h2>Your Top Artists</h2>
        <div class="grid-container">
          <div class="card">
            <ul>
              {% for artist in artists[:5] %}
              <li>
                <img src="{{ artist.images[0].url }}" alt="{{ artist.name }}" />
                <div><strong>{{ artist.rank }}. {{ artist.name }}</strong></div>
              </li>
              {% endfor %}
            </ul>
          </div>
          <div class="card">
            <ul>
              {% for artist in artists[5:] %}
              <li>
                <img src="{{ artist.images[0].url }}" alt="{{ artist.name }}" />
                <div><strong>{{ artist.rank }}. {{ artist.name }}</strong></div>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>

      <!-- User's Top Tracks -->
      <div class="top-items">
        <h2>Your Top Tracks</h2>
        <div class="grid-container">
          <div class="card">
            <ul>
              {% for track in tracks[:5] %}
              <li>
                <img
                  src="{{ track.album.images[0].url }}"
                  alt="{{ track.name }}"
                />
                <div>
                  <strong>{{ track.rank }}. {{ track.name }}</strong> by {{
                  track.artists[0].name }}
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
          <div class="card">
            <ul>
              {% for track in tracks[5:] %}
              <li>
                <img
                  src="{{ track.album.images[0].url }}"
                  alt="{{ track.name }}"
                />
                <div>
                  <strong>{{ track.rank }}. {{ track.name }}</strong> by {{
                  track.artists[0].name }}
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>

      <!-- Show the users roast -->
      {% if roast_message %}
      <div class="top-items">
        <h2>Roast of Your Music Taste</h2>
        <div class="grid-container">
          <div class="card roast-card">
            <p>{{ roast_message }}</p>
          </div>
        </div>
      </div>
      {% endif %}

      <!-- Song Recommendation Form and Save Recommended Songs Button -->
      <div class="form-container">
        <form
          action="{{ url_for('views.show_top_items') }}"
          method="POST"
          class="form-flex"
        >
          <label for="selected_song">Select a song for recommendations:</label>
          <select name="selected_song" id="selected_song">
            {% for song in music_list %}
            <option value="{{ song }}">{{ song }}</option>
            {% endfor %}
          </select>
          <button type="submit">Show Recommendations</button>
        </form>

        <!-- Save Recommended Songs to Spotify Playlist Button -->
        <form
          action="{{ url_for('views.show_top_items') }}"
          method="POST"
          class="form-flex"
        >
          <input type="hidden" name="playlist_type" value="recommendations" />
          <button type="submit">Save Recommendations to Spotify</button>
        </form>
      </div>

      <!-- Display success message if a playlist is created -->
      {% if success_message %}
      <div class="card">
        <p>{{ success_message }}</p>
      </div>
      {% endif %}

      <!-- Song Recommendations Section -->
      <div class="recommendations-section">
        <h2>Recommended Songs Based on Your Selection</h2>
        <div class="recommendations">
          {% for rec, poster in recommendations_with_posters %}
          <div class="recommendation">
            <img src="{{ poster }}" alt="{{ rec }}" />
            <p><strong>{{ rec }}</strong></p>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </body>
</html>
